mh_library/.vs/mh_library/v16/.suo
mh_library/.vs/mh_library/v16/Browse.VC.db
mh_library/.vs/mh_library/v16/ipch/AutoPCH/91adf29bfd905588/MH_LIBRARY.ipch
mh_library/Debug/
mh_library/mh_library/Debug/
mh_library/.vs/mh_library/v16/Browse.VC.opendb
mh_library/.vs/mh_library/v16/ipch/
mh_library/mh_library/x64/
mh_library/x64/
mh_library/.vscode/settings.json
mh_library/.vs/mh_library/v16/Browse.VC.db-shm
mh_library/.vs/mh_library/v16/Browse.VC.db-wal
mh_library/.vs/mh_library/v16/TestStore/
mh_library/mh_library_gtest/x64/
mh_library/.vs/mh_library/v16/
mh_library/mh_library_exec/x64/
mh_library/.vs/mh_library/v17
mh_library/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/build
mh_library/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.5/lib
