mh_library/.vs/mh_library/v16/.suo
mh_library/.vs/mh_library/v16/Browse.VC.db
mh_library/.vs/mh_library/v16/ipch/AutoPCH/91adf29bfd905588/MH_LIBRARY.ipch
mh_library/Debug/
mh_library/mh_library/Debug/
mh_library/.vs/mh_library/v16/Browse.VC.opendb
mh_library/.vs/mh_library/v16/ipch/
